/* Mobile Stye */
@media (max-width: 767px) {
    .faq-body {
        padding: 50px 10px;
        background-color: #fff;
        color: #000;
        // margin-top: 50px;
    }
}

/* Tablet Styel */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Desktop Styele*/
@media (min-width: 1025px) {
    .faq-body {
        padding: 100px 250px;
        background-color: #fff;
        color: #000;
    }
}